@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --button-bg-colour : #AA42AA;
    --text-colour : white;
    --button-font : "Poppins" , sans-serif;
    --font-weight : 600;
    --border-radius : 50px;
    --button-padding : 10px 16px;
    --danger-button : red;
}

.button {
    padding : var(--button-padding);
    border: none;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight);
    cursor: pointer;
    transition: background-color 0.2s ease;;
}

.primary-button {
    background-color: var(--button-bg-colour);
    color: var(--text-colour);
}

.primary-button:hover {
  border: 2px solid var(--button-bg-colour);  
  background-color: var(--text-colour); 
  color: var(--button-bg-colour);
  

}

.danger-button {
    background-color: var(--danger-button);
}
