body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.landing-page {
    height: 100vh;
    width: 100%;
    background: #25155B; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.landing-page header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 35px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

.landing-page h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.landing-page p {
    font-size: 1.2rem;
    color: #d1c3ff;
    margin-top: 0;
    margin-bottom: 50px;
}

.landing-page button {
    margin-top: 10px;
}
